*, 
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;  
	color: #fff;
}

ul {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

path {
	fill: #fff;
}							